/* element selectors*/
body{
    color:rgb(240, 238, 244);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:30px;

}

/*class selector*/
.profile-card{                 
    background-color: rgb(47, 32, 78);
    padding:30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 1.5);
    width: 350px;
    text-align: center;
    
}

/* ID selector*/
#profile{                      
    border-radius: 60%;
    width: 150px;
    height:150px;
    object-fit: cover; 
}

 /* attribute selector*/
a[href]{     
    
    color:rgb(201, 185, 231);                    
    text-decoration: none; 
}

/*hover*/
a[href]:hover {
    color:rgb(153, 116, 223); 
    text-decoration: underline;
}

/*descendant selector*/
.profile-card div{
     font-size: 15px;
     margin-top: 15px; 
}